<mat-toolbar>
  <span>MS365導入チェッカー</span>
</mat-toolbar>

<div class="content">
  <p>MS365 (Exchange Online)が導入されているかを簡易的に調べます。</p>
  <p>
    お客さまの<span
      class="has-tip"
      matTooltip="メールアドレスの@より後ろの部分です。"
      >ドメイン名<mat-icon inline="true">help</mat-icon></span
    >、またはメールアドレスを入力してください。
  </p>
  <form #queryForm="ngForm" (ngSubmit)="onSubmit(queryForm)">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>ドメイン名またはメールアドレス</mat-label>
      <input
        name="hostname"
        ngModel
        matInput
        placeholder="example.com"
        autofocus
        required
      />
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="full-width"
      [disabled]="!queryForm.valid"
    >
      <mat-icon>search</mat-icon>調べる
    </button>
  </form>

  <mat-card *ngFor="let result of results" class="result">
    <mat-card-title>{{ result.hostname }}</mat-card-title>
    <mat-card-content>
      <p class="status" *ngIf="result.status$ | async as status; else loading">
        <ng-container [ngSwitch]="status">
          <ng-container *ngSwitchCase="'導入済み'">
            <mat-icon inline color="accent">check_circle</mat-icon>
            導入済みです。
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ status }}
          </ng-container>
        </ng-container>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
